<!doctype html>
<html>

<head>
    <title>The Trivia Game!</title>

    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div>

        <form action="/question">
            <input type="hidden" name="value" value=100>
            <button class="btn-msg" type="submit">100</button>
        </form>

        <form action="/question">
            <input type="hidden" name="value" value=200>
            <button class="btn-msg" type="submit">200</button>
        </form>

        <form action="/question">
            <input type="hidden" name="value" value=300>
            <button class="btn-msg" type="submit">300</button>
        </form>

        <form action="/question">
            <input type="hidden" name="value" value=400>
            <button class="btn-msg" type="submit">400</button>
        </form>

        <form action="/question">
            <input type="hidden" name="value" value=500>
            <button class="btn-msg" type="submit">500</button>
        </form>

        <form action="/question">
            <input type="hidden" name="value" value=600>
            <button class="btn-msg" type="submit">600</button>
        </form>

    </div>
</body>

</html>